.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 0.2rem;
  justify-items: stretch;
}

.block-dark {
  background-color: black;
}

.block-light {
  background-color: #f3f3f3;
}
