@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");

.App {
  font-family: "Open Sans", Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.summary-container {
  padding: 6rem;
  margin: 4rem;
  width: 800px;
  height: 420px;
  align-self: center;
  border-radius: 2px;
  box-shadow: 0px 5px 30px 6px rgba(0, 0, 0, 0.12);
  position: relative;
  text-align: center;
  animation: rotateIn 1s ease-in-out;
}

.label {
  opacity: 0.8;
  font-weight: 600;
}

.summary-count {
  font-family: "Abril Fatface", cursive;
  font-size: 16rem;
}

.button-restart {
  border: none;
  width: 250px;
  color: white;
  background-color: black;
  font-size: 1.2rem;
  padding: 1.2rem;
  z-index: 2;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.button-restart:hover {
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
}

.button-restart:focus {
  outline: none;
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotateY(90deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

@media only screen and (max-width: 1024px) {
  .summary-container {
    margin: 1rem;
    width: 400px;
    height: 640px;
    padding-top: 30%;
  }

  .summary-count {
    font-size: 10rem;
  }
}

@media screen and (max-width: 425px) {
  .summary-container {
    margin: 1rem;
    width: 320px;
    height: 420px;
    padding-top: 30%;
  }

  .summary-count {
    font-size: 6rem;
  }
}
